<h1>Parseador CNAB</h1>

<%= form_with url: api_v1_parse_cnab_path, method: :post, class: 'upload-btn-wrapper' do |f| %>
  <%# <button class="btn">Upload a file</button> %>
  <div class="btn">
    <%= f.file_field :file, accept: '.txt, text' %>
  </div>
  <%= f.submit 'Carregar', class: "btn full" %>
<% end %>

<div class="table">
  <% @stores.each do |store| %>
    <table>
      <caption>Nome da loja: <%= store.name %> | Nome do representante da loja: <%= store.owner %></caption>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Data e Hora</th>
          <th>CPF do beneficiário</th>
          <th>Cartão utilizado na transação</th>
          <th>Valor:</th>
        </tr>
      </thead>
      <tbody>
        <% store.transactions.each do |t| %>
          <tr>
            <td><%= t("activerecord.attributes.transaction.#{t.type}") %></td>
            <td><%= t.sold_at.strftime("%d/%m/%Y %I:%M:%S") %></td>
            <td><%= t.document %></td>
            <td><%= t.card %></td>
            <td><%= t.amount %></td>
          <tr>
        <% end %>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <th><%= '%.2f' % store.transactions.sum(&:value) %></th>
        <tr>
      </tbody>
    </table>
  <% end %>
</div>